
.date-container {
  color: white;
  position: absolute;
  top: 5px;
  margin: 25px;
}

.date-dayname {
  margin: 0;
  font-size: 35px;
}

.date-day {
  margin: 0;
  margin-left: 2px;
  font-size: 20px;
}

.location {
  margin: 0;
  font-size: 15px;
}

.location:hover {
  transform: scale(1.1);
}