body {
  display: block;
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.app-container {
  position: relative;
  top: 100px;
  left: 100px;
  border-radius: 25px;
  background-color: white;
  color: #ffffff;
  height: 475px;
  width: 750px;
  z-index: -2;
  }
