.info-container {
  margin: 30px;
  line-height: 1.7em;
}

.title {
  padding-left: 10px;
  font-weight: 700;
  font-size: 20px;
}
.value {
  padding-right: 10px;
  float: right;
  font-size: 20px;
  font-weight: 400;
}