li {
  display: inline-block;
  margin: 0 auto;
}

form {
  margin-top: 35px;
}

input {
  width: 225px;
  padding-left: 10px;
  text-align: left;
  height: 35px;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  border-radius: 25px;
  border: none;
  font-size: 16px;
  color: white;
}

button {
  position: relative;
  top: 8px;
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
}


::placeholder {
  color: white;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
}
