li {
  display: inline-block;
  margin: 0 auto;
}

input {
  
  padding-left: 10px;
  text-align: left;
  height: 35px;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  border-radius: 25px;
  border: none;
  font-size: 15px;
}

button {
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
}

::placeholder {
  color: white;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
}

input:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

button:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.05);
}
