.weather-side {
  position: relative;
  bottom: 10px;
  left: -250px;
  height: 105%;
  border-radius: 25px;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  width: 300px;
}
.background {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  opacity: 0.8;
}
