
.weather-container {
  position: absolute;
  bottom: 30px;
  margin-left: 25px;
  
}


.weather-icon {
  width: 30px;
  margin-left: -20px;
}

.weather-temp {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 5px;
  
}
.weather-temp .alternate {
  font-weight: 700;
  font-size: small;
}

.weather-description {
  margin: 0;
  margin-left: 8px;
  font-size: 20px;
}

a {
  color: white;
}


h3::first-letter {
  text-transform: capitalize;
}


.active {
  cursor: default;
  color: #0000ee;
}
.weather-container .active:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
