
.weather-container {
  
  position: absolute;
  
  margin-left: 15px;
  color: black;
  bottom: 50px;
  
}

.weather-icon {
  width: 100%;
  margin-bottom: 20px;
  margin-left: -10px;
}

.weather-temp {
  font-weight: 700;
  font-size: 80px;
  line-height: 2px;
  
}
.weather-temp .alternate {
  font-weight: 700;
  font-size: small;
}

a {
  color: white;
}

.weather-description {
  font-size: 150%;
}

h3::first-letter {
  text-transform: capitalize;
}

.active {
  cursor: default;
  color: #0000EE
}
.weather-container .active:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
