.week-container {
  margin-left: 30px;
}

.row{
display: inline-block;

}

.col-3 {
  display: block;
  margin: 0;
  padding: 10px 8px 15px 8px;

  border-radius: 10px;
  transition: all 200ms ease;
  background: none;

}

.day-time {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.day-icon {
  display: block;
  margin: 0 auto;
  width: 55px;
  background: none;
  background: transparent;
}

.day-temp {
  text-align: center;
  font-size: 20px;
  line-height: 6px;
  font-weight: 600;
}

.col-3:hover {
transition: all 200ms ease;
	background: #fff;
	color: #222831;
}